@import url("color.css");

window#waybar {
    background: linear-gradient(180deg, alpha(@low-tone, 0.8)0%, alpha(@secd, 0.8) 50%, alpha(@low-tone, 0.8) 100%);
    color: @high-tone;
    transition-property: background-color;
    transition-duration: .5s;
    font-size: 16px;
    margin:0px;
    font-family: 'Keania One';
}

tooltip {
    background: linear-gradient(180deg, alpha(@low-tone, 0.8)0%, alpha(@secd, 0.8) 50%, alpha(@low-tone, 0.8) 100%);
    font-family: 'Keania One';
}

tooltip label {
    font-family:'Keania One';
}

tooltip *{
    color: @high-tone;
    font-family: 'Keania One';
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#custom-sysIcon,
#network,
#battery{
    margin-top: 1.2rem;
}

#custom-sysIcon{
    font-size: 2.5rem;
    font-family: 'ShureTechMono Nerd Font Mono';
    color:@high-tone;
}

#cpu, #temperature, #memory{
    background: transparent;
    color:@high-tone;
    transition: 0.3s ease-in;
}

#pulseaudio-slider slider {
    min-height: 0rem;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 6rem;
    min-width: 0.4rem;
    background-color: @acct; 
    border:1px solid @acct;
    border-radius:99px;
}

#pulseaudio-slider highlight {
    min-width: 0.4rem;
    background-color: @high-tone;
    border:0px solid transparent;
    border-radius:99px;
}

#pulseaudio{
    font-family:ShureTechMono Nerd Font Mono;
    font-size: 2.2rem;
}

#workspaces button {
    min-height: 2rem;
    font-size:1px;
    padding:0;
    color: transparent;
    background: linear-gradient(180deg, alpha(@secd, 0.8)0%, alpha(@acct, 0.8) 100%);
    margin: 0.3rem 1.8rem;
    border-radius: 9px;
    border: 0px solid transparent;
    transition: 0.3s ease-in;
}

#workspaces button:hover {
    background: linear-gradient(180deg, @high-tone 0%, @prim 100%);
    border-radius: 9px;
    transition: 0.3s ease-in;
}

#workspaces button.focused, #workspaces button.active {
    background: linear-gradient(180deg, @high-tone 0%, @prim 100%);
    border-radius: 9px;
    transition: 0.3s ease-in;
    min-height: 4rem;
}

#workspaces button.urgent {
    background-color: red;
    border-radius: 9px;
    transition: 0.3s ease-in;
}

#clock{
    font-size:1.5rem;
    background: transparent;
    padding: 1rem 0px;
    margin-left:0.5rem;
    margin-right:0.5rem;
        margin-top:0.5rem;
    border-width: 0.2rem;
    border-style:solid;
    border-image:linear-gradient(180deg, @acct 0%, @prim 12%, @high-tone 50%, @prim 88%, @acct 100%) 1;
}

#battery {
    font-family:ShureTechMono Nerd Font Mono;
    font-size: 1.4rem;
    padding:0px;
    margin-bottom:1rem;
}

@keyframes blink {
    to {
        color: red;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @high-tone;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
}

#network.disconnected {
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: red;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
