@import url(".config/wofi/color.css");

* {
    border: 0px solid transparent;
    font-family:'ShureTechMono Nerd Font Mono';
    outline-style: none;
}

#window {
    font-size: 18px;
    border: 0xp solid;
    background: linear-gradient(180deg, alpha(@low-tone, 0.7) 0%, alpha(@secd, 0.7) 50%, alpha(@low-tone, 0.7) 100%);
    border: 0px solid transparent;
}

#outer-box {
    border: 0px solid;
    border: 0px solid transparent;
}

#input {
    font-size: 120%;
    border: 0px solid;
    padding: 16px;
    text-decoration-color: transparent;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    border: 0px solid transparent;
    color: @high-tone;
}

#inner-box {
    background-color: transparent;
    border: none;
    border: 0px solid transparent;
}

#entry {
    border-radius: 0px;
    border: none;
    padding: 10px 0px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    border: 0px solid transparent;
}

#entry:selected {
    border-radius: 0px;
    border: 0px solid transparent;
    background: linear-gradient(@prim, @high-tone);
    transition: 0.15s ease-in-out;
}

#text {
    background-color: transparent;
    margin-left: 1em;
    border: none;
    text-decoration: none;
    color: @high-tone;
    transition: 0.15s ease-in-out;
    border: 0px solid transparent;
}

#text:selected {
    background-color: transparent;
    font-weight: normal;
    font-size: 110%;
    color: @secd;
    transition: 0.1s ease-in-out;
    border: 0px solid transparent;
}

#img {
    background-color: transparent;
    margin-left: 1em;
    border: 0px solid transparent;
}

#input, #input:focus {
    outline: none;
    box-shadow: none;
}

#entry:selected, #entry:focus {
    outline: none;
    box-shadow: none;
}
